

#myVideo {
    
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
h1{
color:white;
font-family: 'Times New Roman', Times, serif;

}
.header{
  height: 100px;
}
.content {
  background-size: cover;
  margin-top: 50px;
  position: fixed;

  width: 100%;
  padding: 20px;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}

.header{
  background-size: cover;
  margin-top: 50px;
  position: fixed;

  width: 100%;
  padding: 20px;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
    z-index: 1;
}
a.hover{
  background-color: yellow;
}